/*in order to fit content after the two fixed navbars*/
body {
    padding-top: 160px;
}

main {
    padding-bottom: 9%;
}
.view-profileBtn{
    border: 1px solid #fff;
    background-color: #fff;

}

.card-body img {
    width: 100px;
    height: 100px;
}

#dropdownMenuButton1 {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 17px;
    /* font-size: 15px; */
    cursor: pointer;
}

#dropdownMenuButton1 img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: 0px;
    border: 1px solid #666f88;
    border-radius: 100%;

}

#login a {
    margin-right: 1rem;
    font-size: large;
    text-decoration: none;
    color: white;
}

.profileDropdown {
    padding-left: 6rem;
}


/*create listing form in modal*/
.modal-body form {
    padding-top: 10px;
    padding-bottom: 20px;
}

.form-group {
    padding-bottom: 2%;
}

.form-group label {
    padding-top: 0;
    text-align: right;
}

input {
    width: 100%;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

#validationDate {
    display: none;
}

/* Listings */
.listingUser {
    width: 70%;
}

.listingVisitor {
    width: 50%;
    margin: 0 auto;
}

.h5 {
    text-align: center;
}

.badge {
    width: 30%;
}

.description {
    text-align: justify;
    width: 80%;
}

.warning {
    text-align: justify;
}

.personsInfo {
    padding-left: 3%;
}

.small {
    display: none;
}
.sorted {
    width: 20%;
    display: inline;
}

.sortNav {
    background-color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;  
}

/* back to top btn */
.back-topbtn {
    border: 1px solid white;
    border-radius: 50%;
    background-color: #212529;
    width: 35px;
    height: 30px;
}

.back-topbtn a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .listingVisitor .personsInfo {
        padding-left: 8%;
    }

    .listingUser {
        width: 80%;
        
    }
    .personsInfo {
        padding-left: 5%;
    }

    .sorted {
        width: 30%;
        display: inline;
    }

}

@media screen and (max-width: 1000px) {
    /* .listingVisitor .personsInfo {
        padding-left: 8%;
    } */
    .listingVisitor  {
        width: 70%;
        margin: 0 auto;
    }

}
@media screen and (max-width: 930px) {
    .badge{
        width: 35%;
    }
    .listingUser  .personsInfo{
        padding-left: 10%;
        
    }
}
@media screen and (max-width: 900px) {
    .listingUser {
        width: 90%;
        
    }
    .personsInfo {
        padding-left: 10%;
    }
    h4 {
        padding-top: 3%;
    }
    main {
        padding-bottom: 18%;
    }
}

@media screen and (max-width:790px) {
    
    .listingUser {
        width: 100%;
    }

    .form-group label {
        text-align: left;
    }

}

@media screen and (max-width:768px) {
    .listingVisitor {
        width: 90%;
        margin: 0 auto;
    }

    .listingVisitor .small{
        display: none;
    }

    .listingVisitor .big{
        display: block;
    }

    .listingUser .small {
        display: block;
    }

    .listingUser .big {
        display: none;
    }
}

@media screen and (max-width: 690px) {
    .card-text{
        display: none;
    }
    main {
        padding-bottom: 25%;
    }
}

@media screen and (max-width:577px) {
    .card-text{
        display: block;
    }
}

@media screen and (max-width:576px) {
    .listingVisitor {
        width: 90%;
        margin: 0 auto;
    }
    .listingVisitor .personsInfo {
        padding-left: 9%;
    }

    .listingVisitor .small{
        display: block;
    }

    .listingVisitor .big{
        display: none;
    } 
    .listingUser {
        width: 95%;
        margin: 0 auto;
    }
    .personsInfo {
        padding-left: 1%;
    }
    main {
        padding-bottom: 30%;
    }   
}


@media screen and (max-width: 490px) {
    .listingVisitor {
        width: 90%;
        margin: 0 auto;
    }
    .personsInfo {
        padding-left: 10%;
    }
}

