*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #3d4251;
}

#dropdownMenuButton1 {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  height: 30px;
}

#dropdownMenuButton1 img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 0px;
  border: 1px solid #666f88;
  border-radius: 100%;

}

hr{
  color: #cacbd5;
}

a {
  text-decoration: none;
}

/* navbar */


.profileDropdown {
  padding-left: 5rem;
}

/* messenger container */

main {
  margin-top: 8rem;
  margin-left: 0px;
  height: 80vh;
}

/* left side messenge */

.leftSide {
  border: 1px solid #666f88;
  border-radius: 5px;
}

/* circle user image */
.profile-image {
  width: 50px;
  height: 50px;
  border-radius:50%;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

#username{
  display: inline-block;
  color: #fff;
  font-size: 20px;
  padding-left: 1rem;
}

/*  serach messenge bar */

.search-box {
  padding: 10px 13px;
}

.search-box .input-wrapper {
  background: #fff;
  border-radius: 40px;
}

.search-box .input-wrapper i {
  color: black;
  margin-left: 7px;
  vertical-align: middle;
}

.conversations {
  cursor: pointer;
}

.conversations:hover {
  transform: scale(1.01) perspective(0.5px);
}

input {
  border: none;
  border-radius: 30px;
  width: 80%;
}

input::placeholder {
  color: #fff;
  font-weight: 300;
  margin-left: 20px;
}

input:focus {
  outline: none;
}

/* end of search bar */

/* left side friends messenges */
.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
  border-radius: 5px;
}

.friend-drawer .text {
  margin-left: 12px;
  width: 70%;
}

.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 1rem;
}

.friend-drawer .text p {
  margin: 0;
}

/* end of friends messange left side */


/* right side */

.rightSide{
  border: 1px solid #666f88;
  border-radius: 5px;
}

/* user name of chat */

#userName{
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
  color: #cacbd5;
}

/* bubles of messenges */

.chatLines{
  padding: 0;
}

.chat-bubble {
  padding: 10px 14px;
  background: #fff;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
  max-width: 100%;
}

.chat-bubble:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  margin-top: -10px;
}

.chat-bubble--left:after {
  left: 0;
  border-right-color: #fff;
  border-left: 0;
  margin-left: -20px;
}

.chat-bubble--right:after {
  right: 0;
  border-left-color: #cacbd5;
  border-right: 0;
  margin-right: -20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.offset-md-6 .chat-bubble {
  background-color: #cacbd5;
  color: #fff;
}

#messages {
  scrollbar-width: thin;
  scrollbar-color: #cacbd5 #666f88;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  overflow-y: scroll;
  overflow: auto;
  height: 60vh;
  width: 100%;
}

/* place where user write a messange */

.messange-box {
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0px;
}

.messange-box button{
  color: #d35e35;
  background-color : #3d4251;
  border: 1px solid #3d4251;
  cursor: pointer;
  font-size: 30px;
  vertical-align: middle;
}

.messange-box button:hover{
  transform: scale(1.2) perspective(1px);
}

.messange-box input {
  width: 100%;
  margin: 0 10px;
  padding: 6px 2px;
  padding-left: 10px;
}