 body {
     background: #69707a
 }


 #regForm {
     background-color: #ffffff;
     margin: 0px auto;
     font-family: Raleway;
     padding: 40px;
     border-radius: 10px
 }

 #divAddress {

     display:none

     }

 h1 {
     text-align: center
 }

 input {
     padding: 10px;
     width: 100%;
     font-size: 17px;
     font-family: Raleway;
     border: 1px solid #aaaaaa;
     border-radius: 5px;
 }



 #checkIfUnique{
    width: 100%;
    background-color: #69707a;
 }

 /* validations */
 /* add pink background on invalid input / textarea*/

 .invalid {
     background-color: #ffdddd;
     /* background-color: #cdf5af; */

 }

 #emailValidation {
     display: none;
     color: #ff0000;
 }

 #emailExists {
    display: none;
    color: #ff0000;
 }

 #emailChecking{
    display: none;
    color: #ff0000;
 }

 #genderValidation {
    display: none;
    color: #ff0000;
 }

 #ageValidation{
    display: none;
    color: #ff0000;
 }

 #passwordCheck{
    display: none;
    color: #ff0000;
 }
/* validations */   

 #submitBtn {
     display: none;
 }

 .tab {
     display: none
 }

 button {
     background-color: #e33e5a;
     border-radius: 5px;
     color: #ffffff;
     border: none;
     padding: 10px 20px;
     font-size: 17px;
     font-family: Raleway;
     cursor: pointer
 }

 button:hover {
     opacity: 0.8
 }

 #prevBtn {
     background-color: #1f4068
 }

 .step {
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbbbbb;
     border: none;
     border-radius: 50%;
     display: inline-block;
     opacity: 0.5
 }

 .step.active {
     opacity: 1
 }

 .step.finish {
     background-color: #5a5a5a;
 }

 .all-steps {
     text-align: center;
     margin-top: 30px;
     margin-bottom: 30px
 }

 /** Custom radio buttons */

 /* Customize the label (the container) */
 .container {
     display: block;
     position: relative;
     padding-left: 35px;
     margin-bottom: 12px;
     cursor: pointer;
     font-size: 17px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none
 }

 /* Hide the browser's default radio button */
 .container input[type="radio"] {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
 }

 /* Create a custom radio button */
 .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 20px;
     width: 20px;
     background-color: #eee;
     border-radius: 50%
 }

 /* On mouse-over, add a grey background color */
 .container:hover input~.checkmark {
     background-color: #ccc
 }

 /* When the radio button is checked, add a dark gray background */
 .container input:checked~.checkmark {
     background-color: #38434d
 }

 /* Create the indicator (the dot/circle - hidden when not checked) */
 .checkmark:after {
     content: "";
     position: absolute;
     display: none
 }

/* Show the indicator (dot/circle) when checked */
 .container input:checked~.checkmark:after {
     display: block
 }

 /* Style the indicator (dot/circle) */
 .container .checkmark:after {
     top: 6px;
     left: 6px;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     background: white
 }

 /* registration buttons */
 #nextprevious {
    overflow:auto;
 }

 #regbtns {
    float:right;
 }

 /* left arrow for homepage  */
 a {
     text-decoration: none;
     color: #fff;
 }

 a:hover {
     color: #e33e5a;
 }